{% extends "container.twig" %}

{% block header %}  {# need to go full width on this header #}
	{{ parent() }}{# loads the logo and nav #}
	{% include "case-studies-hero/case-studies-hero.twig" %}
{% endblock %}

{% block main %}
	<div class="content-wrapper">
		{% if (post.content) %}
		<article class="post-type-{{ post.post_type }}" id="post-{{ post.ID }}">

			<section class="article-content uk-padding ">
				<div class="article-body uk-margin-top uk-text-justify">
					{{post.content}}
				</div>
			</section>
		</article>
		{% endif %}
	</div><!-- /content-wrapper -->
{% endblock %}
