<section class="uk-padding uk-padding-remove-horizontal">
  <div class="uk-container uk-container-center">
    
      {% for section in sectiosn %}
              {% include ['section-content.twig'] %}
            {% endfor %}

   
  </div><!-- /container -->
</section><!-- /section -->